.svn
.idea
build
cmake-build-debug

.vscode
/MoeVoiceStudioCoreSrc/onnxruntime-win-x64-gpu-1.15.0
/.vs
/MoeVoiceStudioCoreSrc/onnxruntime
/MoeVoiceStudioCoreSrc/onnxruntime.zip
/MoeVoiceStudioCoreSrc/hifigan
/MoeVoiceStudioCoreSrc/hubert
/MoeVoiceStudioCoreSrc/Models
/MoeVoiceStudioCoreSrc/OutPuts
/build-MoeVoiceStudioCoreSrc-Desktop_Qt_6_5_1_MSVC2019_64bit-Debug
/MoeVoiceStudioCoreSrc/CMakeLists - 副本.txt
